@font-face {
  font-family: "Inter";
  src: url("../fonts/inter/Inter_18pt-Light.ttf") format("ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter/Inter_18pt-Regular.ttf") format("ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter/Inter_18pt-Medium.ttf") format("ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter/Inter_18pt-Bold.ttf") format("ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter/Inter_18pt-ExtraBold.ttf") format("ttf");
  font-weight: 800;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter/Inter_18pt-Black.ttf") format("ttf");
  font-weight: 900;
}
